# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\mycode（2）\go\EmailService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
